@font-face {
    font-family: 'ES Rebond Grotesque';
    src: url('/assets/fonts/ESRebondGrotesque-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES Rebond Grotesque';
    src: url('/assets/fonts/ESRebondGrotesque-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}